# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env
*.sqlite3

# Jupyter Notebook
.ipynb_checkpoints

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Models & Data
*.onnx
abnormal_images/
assets/CNN/*.png

# Others
*.log 